.list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list h3 {
    margin-bottom: 15px;
}

.list-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;

}

.item {
    margin-bottom: 10px;
}