.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 180px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.product-change {
    display: none;
}
.none {
    display: none;
}
.img {
    border-radius: 11px 11px 0px 0px;
}

.info {
    margin: 5px 8px 0px 8px;
}

.title {
    font-size: 14px;
    line-height: 13px;
}

.weight,
.description,
.price {
    font-size: 14px;
    line-height: 12px;
    color: #575757;
    margin: 5px 0px;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}

.edit-btn,
.del-btn {
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 3px 6px;
}